$button-red: #d3394c;

body {
  font-size: 15px;
}

h1 {
  font-size: 2rem;
  text-align: center;
  padding: 2rem 0;
  margin: 0;
}

form {
  position: relative;
  text-align: right;
  label {
    cursor: pointer;
    text-align: center;
    font-size: 1.25em;
    font-weight: 700;
    color: $button-red;
    background-color: transparent;
    display: inline-block;
    padding: 1rem 2rem;
    border: 2px solid $button-red;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    &:hover {
      + label {

      }
    }
  }
}
